<div class="user-carac">
  <app-user-edit [user]="user$ | async"></app-user-edit>
  <app-user-aditional-characteristics [user]="user$ | async"></app-user-aditional-characteristics>
  <app-user-ressources 
    [user]="user$ | async"
  ></app-user-ressources>
</div>
<button (click)="handleNewRoundClick()">New Round</button>
<button (click)="handleHaveANapClick()">Have a nap</button>
<app-target-creation></app-target-creation>
<app-target-list
  [targetList]="targetList$ | async"
  [selectedList]="selectedList$ | async"
  [user]="user$ | async"
></app-target-list>
<app-spell-list></app-spell-list>

pauge pv


all spell list
  type [buff, attack]
  damage
  damage/turn
  category
  name
  decription
  real name
  which class
  which cost (PR, energy, rage, mana point, )
  dururation
  cooldown
  when to use (instant, your turn)
  effect (instant, next turn)


  Todo
<ul>
  <li>damage -> hp reduction</li>
  <li>constit -> hp</li>
    <li>intel -> mp</li>
    <li>damage f(F, A)</li>
    <li>tsointsoin</li>
    <li></li>
    <li></li>
    <li></li>
  </ul>