<app-user-edit [user]="user$ | async"></app-user-edit>
<app-user-aditional-characteristics [user]="user$ | async"></app-user-aditional-characteristics>
<!--app-user-ressources 
  [userRessources]="userRessources$ | async"
></app-user-ressources-->
<button (click)="handleNewRoundClick()">New Round</button>
<button (click)="handleHaveANapClick()">Have a nap</button>
<app-spell-list></app-spell-list>

button: next turn
button: have a nap
list debuf
list buff
list carac -> number of dice to launch, number of free result
jauge PR
jauge rune
pauge pv
rune regen


all spell list
  type [buff, attack]
  damage
  damage/turn
  category
  name
  decription
  real name
  which class
  which cost (PR, energy, rage, mana point, )
  dururation
  cooldown
  when to use (instant, your turn)
  effect (instant, next turn)

nombre d'ennemi
  nom
  degat subit
  focus (multi)