User Resources :

  bloodRune: {{user?.resources?.bloodRune.value}} ({{user?.resources?.bloodRune.partial}}) / {{user?.resources?.bloodRune.maxValue}}
  <br/>frostRune: {{user?.resources?.frostRune.value}} ({{user?.resources?.frostRune.partial}}) / {{user?.resources?.frostRune.maxValue}}
  <br/>unholyRune: {{user?.resources?.unholyRune.value}} ({{user?.resources?.unholyRune.partial}}) / {{user?.resources?.unholyRune.maxValue}}
  <br/>runicPoint: {{user?.resources?.runicPoint.value}} ({{user?.resources?.runicPoint.partial}}) / {{user?.resources?.runicPoint.maxValue}}
  <br/>manaPoint: {{user?.resources?.manaPoint.value}} ({{user?.resources?.manaPoint.partial}}) / {{user?.resources?.manaPoint.maxValue}}
  <br/>lifePoint: {{user?.resources?.lifePoint.value}} ({{user?.resources?.lifePoint.partial}}) / {{user?.resources?.lifePoint.maxValue}}
  <br/>rage: {{user?.resources?.rage.value}} ({{user?.resources?.rage.partial}}) / {{user?.resources?.rage.maxValue}}
  <br/>energy: {{user?.resources?.energy.value}} ({{user?.resources?.energy.partial}}) / {{user?.resources?.energy.maxValue<br/>}}

